<nav>
    <ul>
        <li>
            <a href="search.html">Tops</a>
            <ul class="sub-menu">
                <li><a href="search.html">Tshirts</a></li>
                <li><a href="search.html">Jumpers</a></li>
                <li><a href="search.html">Cardigans</a></li>
                <li><a href="search.html">Knitwear</a></li>
            </ul>
        </li>
        <li><a href="search.html">Trousers</a></li>
        <li>
            <a href="search.html">Dresses</a>
            <ul class="sub-menu">
                <li><a href="search.html">Bridal dress</a></li>
                <li><a href="search.html">Cocktail dress</a></li>
                <li><a href="search.html">Maxi dress</a></li>
                <li><a href="search.html">Shift dress</a></li>
                <li><a class="current" href="search.html">Summer dress</a></li>
                <li><a href="search.html">Warp dress</a></li>
            </ul>
        </li>
        <li><a href="search.html">Skirts</a></li>
        <li>
            <a href="search.html">Accessories</a>
            <ul class="sub-menu">
                <li><a href="search.html">Shoes</a></li>
                <li><a href="search.html">Hats</a></li>
                <li><a href="search.html">Bags</a></li>
                <li><a href="search.html">Scarves</a></li>
                <li><a href="search.html">Jewellery</a></li>
                <li><a href="search.html">Gloves</a></li>
            </ul>
        </li>
        <li><a href="search.html">Coats &amp; Jackets </a></li>
        <li><a href="search.html">Brands</a></li>
    </ul>
</nav>