@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Models
@{
    Iota.eCommerce.Models.SamplePart part = (Iota.eCommerce.Models.SamplePart) Model.SamplePart;
}
    <article>
        <h1>Sample</h1><br /><br />
    </article>
